:root{
  --white-color: #ffffff;
  --main-color: #ff5e14;
  --transition: all ease .5s;
  --border-radius: 4px;
}

@font-face {
  font-family: iransans-regular;
  src: url(/assets/fonts/iransans-regular.woff);
}
@font-face {
  font-family: iransans-bold;
  src: url(/assets/fonts/iransans-bold.woff);
}

html{
  scroll-behavior: smooth;
}

textarea{
  resize: none;
}

.ir-r {
  font-family: iransans-regular !important;
}
.ir-b {
  font-family: iransans-bold !important;
}

html {
  scroll-behavior: smooth;
}

.logo-img {
  height: 60px !important;
}

.flaticon-next {
  transform: rotateY(180deg) !important;
}

.single-blog-post .news-content a h3 {
  line-height: 36px;
}

.index-intro {
  margin-top: 200px;
  margin-bottom: 100px;
}
.index-intro h1 {
  font-size: 24px;
  line-height: 36px;
}
.index-intro .img-holder {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url(/assets/img/testimonials-shape.jpg) repeat center;
}
.index-intro .img-holder img {
  padding: 20px;
  background: #ffffff;
}

.mb-100{
  margin-bottom: 100px !important;
}

.primary-btn {
  font-size: 16px;
  color: var(--white-color);
  padding: 15px 40px;
  line-height: 1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  text-align: center;
  background-color: var(--heading-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--heading-color) !important;
  text-transform: capitalize;
}

.primary-btn:hover {
  color: var(--heading-color);
  border-color: var(--heading-color) !important;
  background-color: transparent;
}